* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
}

header {
    margin: 0px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: azure;
}

.header {
    height: 50px;
    background-color: black;
}

.slider {
    flex: 1;
    overflow: hidden;
}

.slider--width {
    height: 100%;
    display: flex;
    transition: all ease 0.3s;
}

.slider--item {
    width: 100vw;
    height: inherit;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0px 1px 1px grey;
    font-size: 100px;
}

.slider--controls {
    position: absolute;
    z-index: 100;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.6;
    margin: 0 30px;
}

.slider--control {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}